PORT=4004
MONGO_URI=mongodb://mongo:27017/prediccion_db

INVENTARIO_URL=http://inventario-mock:4001
VENTAS_URL=http://ventas-mock:4002
PROVEEDORES_URL=http://proveedores-mock:4003

# Cron de recálculo automático (formato cron estándar + zona horaria IANA)
CRON_RECALCULO=0 3 * * *
CRON_TZ=America/Lima
